{% extends 'blog/base.html' %}

{% load static %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Blog de Deportes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'creapost' %}">Crear Post</a></li>
                    </ul>
                    <form class="d-flex" method="POST" action="{% url 'resultadoBusqueda' %}">

                        {% csrf_token %}

                                    <input class="form-control" type="text" placeholder="Buscar post..." aria-label="Buscar post..." aria-describedby="button-search" name="searched" />
                                    <button class="btn btn-primary" id="button-search" type="submit">Go!</button>

                    </form>              
                </div>
                
    </div>
</nav>

{% endblock navbar %}

{% block enconstruccion %}

<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
      <h1 class="fw-light text-white">About me</h1>
    </div>
  </header>
  
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHQUWSx43giTg/profile-displayphoto-shrink_800_800/0/1550683938508?e=1650499200&v=beta&t=EAbGHt5Nqaw4iy2-OIofuNBXyt0vaRlQXnrbEDDzAwc" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Matias Eguez Leone</h5>
            <div class="card-text text-black-50">Cloud Engineer Jr</div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->

{% endblock enconstruccion %}