{% extends 'blog/base.html' %}

{% load static %}

{%block header %}

        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Bienvenido al blog de Deportes!</h1>
                    
                </div>
            </div>
        </header>

{% endblock header %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Blog de Deportes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>

                        {% if user.is_authenticated %}

                        <li class="nav-item"><a class="nav-link" href="{% url 'creapost' %}">Crear Post</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'edit_profile' %}">Editar Perfil</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar sesion</a></li>
                        

                        {% else %}

                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registrarse</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar sesion</a></li>

                        {% endif %}
                        
                        
                    
                    </ul>
                    <form class="d-flex" method="POST" action="{% url 'resultadoBusqueda' %}">

                        {% csrf_token %}

                                    <input class="form-control" type="text" placeholder="Buscar post..." aria-label="Buscar post..." aria-describedby="button-search" name="searched" />
                                    <button class="btn btn-primary" id="button-search" type="submit">Go!</button>

                    </form>
                </div>
                
    </div>
</nav>

{% endblock navbar %}

{% block pagecontent %}
<ul>
{% for post in object_list %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
<div class="card mb-4">
    <a href="#!"></a><img class="card-img-top" src="{{post.thumbnail.url}}" alt="..." /></a>
    <div class="card-body">
        <div class="small text-muted">{{post.created_date}}</div>
        <h2 class="card-title h4">{{post.title}}</h2>
        <p class="card-text">{{post.content|truncatechars:100|safe}}</p>
        <a class="btn btn-primary" href="{% url 'post-details' post.slug  %}">Leer mas →</a>
        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'editarPost' post.slug  %}">Editar post</a>
        <a class="btn btn-primary" href="{% url 'borrarPost' post.slug  %}">Borrar post</a>
        {% endif %}
    </div>
</div> 
</div>
{% endfor %}
</ul>
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
   

        </div>

{% endblock pagecontent %}

{% block search %}



{% endblock search %}

