{% extends 'blog/base.html' %}

{% load static %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">Blog de Deportes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        {% if user.is_authenticated %}

                        <li class="nav-item"><a class="nav-link" href="{% url 'creapost' %}">Crear Post</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'edit_profile' %}">Editar Perfil</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar sesion</a></li>

                        {% else %}

                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registrarse</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Iniciar sesion</a></li>

                        {% endif %}
                    </ul>
                    <form class="d-flex" method="POST" action="{% url 'resultadoBusqueda' %}">

                        {% csrf_token %}

                                    <input class="form-control" type="text" placeholder="Buscar post..." aria-label="Buscar post..." aria-describedby="button-search" name="searched" />
                                    <button class="btn btn-primary" id="button-search" type="submit">Go!</button>

                    </form>
                </div>
                
    </div>
</nav>

{% endblock navbar %}

{% block pagecontent %}

<h1>{{post.title}}</h1>

<img src="{{post.thumbnail.url}}" alt="">

<p>{{post.content|safe}}</p>

{% endblock pagecontent %}